.carousel-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.carousel-btn {
  border-radius: 20px;
  background-color: cadetblue;
  cursor: pointer;
}

.access-btn {
  border-radius: 60%;
}

.image-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
